/*
COLOURS

Imperial Red: #EF233C
Rich black: #020100
Beige: #E6EED6
Ming: #166979
Blue Green: #489fb5

*/

$ming: #166979;
$blue-green: #489fb5;
$rich-black: #020100;
$imperial-red: #ef233c;
$beige: #e6eed6;


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, #eee, #eee);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}