<header class="header">
    <h1>Pearlsworth</h1>
    <div class="user-info">
        <p class="welcome-message">Welcome, <%= user.firstName %></p>
        <a href="/logout" class="btn btn-danger btn-logout">Logout</a>
    </div>
</header>