<nav class="sidebar">
    <ul class="side-nav">
        <li class="side-nav__item">
            <a href="/student-menu">Students</a>
        </li>
        <li class="side-nav__item">
            <a href="#">Parents/Guardians</a>
        </li>
        <li class="side-nav__item">
            <a href="#">Reports</a>
        </li>
        <li class="side-nav__item">
            <a href="#">Summary Statistics</a>
        </li>
    </ul>
</nav>