<%- include('includes/header', {title}) %>  
<header class="header">
    <h1>Pearlsworth</h1>
</header>
<div class="main-content">
    <div class="main-info">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Error Page</h2>
                <p class="text-danger"><%= msg %></p>
                <a class="btn btn-danger" href="/login">Go to Login Page </a>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer') %>

